RESPONSEFILE_VERSION="2.2.1.0.0"
FROM_LOCATION="$PWD/stage/products.xml"
ORACLE_HOME="$ORACLE_HOME"
ORACLE_HOME_NAME="Siebel_AI_Home"

s_shiphomeLocation="$PWD"
s_topLevelComp="oracle.siebel.ses"

s_SiebelVersion="$SIEBEL_VERSION"
s_installType="New Installation"

b_isGatewayInstalled="false"
b_isSiebsrvrInstalled="false"
b_isDBInstalled="false"
b_isEAIInstalled="false"

b_isApplicationInterfaceInstalled="true"
b_isEnterpriseCacheInstalled="false"
b_isConstraintEngineInstalled="false"

selectedLangs="[$SELECTED_LANGS]"

s_Redirectport="8443"
s_Httpport="8080"
s_Shutdownport="8005"

s_txtUserName="SADMIN"
s_txtPassword="oracle"

s_txtKeyStoreName="/tmp/keystore.jks"
s_txtKeyStorePassword="changeit"
s_txtKeyStoreType="JKS"
s_txtTrustStoreName="/tmp/truststore.jks"
s_txtTrustStorePassword="changeit"
s_txtTrustStoreType="JKS"
